@media screen and (max-width: 1164px) {
	.container {
	max-width: 960px;
 	}
 	.container-nav {
 	max-width: 960px;
 	}
 	.container-how {
 	max-width: 960px;
 	}
}

@media (max-width: 991.98px) {
	.container {
	max-width: 750px;
 	}
 	.container-nav {
 	max-width: 750px;
 	}
 	.container-how {
 	max-width: 750px;
 	}
 	.advantages {
 	grid-template-columns: 1fr 1fr;
 	}
}

@media (max-width: 768.98px) {
	.container {
	max-width: none;
 	}
 	.container-nav {
 	max-width: none;
 	}
 	.container-how {
 	max-width: none;
 	}
 	.navbar-menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: #E9ECFC;
		padding: 1rem 2rem;
		transform-origin: top;
		transform: scale(0);
		opacity: 0;
	}

	.navbar-menu li {
		display: block;
		margin: 15px;
		font-size: 1.2rem;
	}

	.navbar input:checked ~ .navbar-menu {
		transform: scale(1);
		opacity: 1;
	}
	.navbar label {
	font-size: 3rem;
	color: #424242;
	cursor: pointer;
	visibility: visible;
	display: block;
	opacity: 1;
	}
	

	.btn {
		visibility: hidden;
		opacity: 0;
		display: none;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	} 
}
	

@media (max-width: 415px) {
	.advantages {
	padding-top: 6rem;
	display: grid;
	grid-template-columns: 1fr;
	position: relative;
	}
	.container-how {
	grid-template-columns: repeat(1, 1fr);
	grid-template-areas: 
	'notebook' 
	'advtext' 
	'howtext';
	}
	
}